.modal-map {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../image/map.jpg') center/cover no-repeat;

  &__close {
    top: 20px;
    right: 20px;
    background-image: url('../image/cross.svg');
  }
}

.map-pins {

  &__item {
    max-width: 30px;
    width: 100%;
    position: absolute;
    top: 49%;
    left: 45%;

    &:nth-child(2) {
      top: 48%;
      left: 46%;
    }

    &:nth-child(3) {
      top: 55%;
      left: 47%;
    }

    &:nth-child(4) {
      top: 59%;
      left: 48%;
    }

    &:nth-child(5) {
      top: 64%;
      left: 48%;
    }

    &:nth-child(6) {
      top: 72%;
      left: 46%;
    }

    &:nth-child(7) {
      top: 72%;
      left: 44%;
    }

    &:nth-child(8) {
      top: 80%;
      left: 68%;
    }

    img {
      cursor: pointer;
    }
  }

  &__card {
    position: absolute;
    bottom: 40px;
    left: 0;
    display: none;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(#000000, 0.6);
  }

  &__img {
    height: 125px;
    background: url('../image/map-photo-shop.jpg') center no-repeat;
  }

  &__descr {
    padding: 15px 30px;
    text-align: center;
    background-color: #fff;
    color: #000;
  }

  &__title {
    margin-bottom: 7px;

    font-size: 20px;
    line-height: 24px;
  }

  &__addres {
    margin-bottom: 7px;
    font-size: 18px;
    color: #469620;
    line-height: 22px;
    font-style: normal;
  }
}

.modal-map.open {
  display: block !important;
}

.map-pins__item.open {
  display: block;
  max-width: 500px;
}
.map-pins__card.open {
  display: block;
}

.modal-btn {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  box-shadow: 0 10px 20px rgba(#000000, 0.6);
  cursor: pointer;
}