.modal-map {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../image/map-shops.png') center/cover no-repeat;

  &__close {
    top: 20px;
    right: 20px;
    background-image: url('../image/cross.svg');
  }
}

.map-pins {


  &__item {
    max-width: 30px;
    width: 100%;
    position: absolute;
    top: 24%;
    left: 46%;

    &:nth-child(2) {
      top: 51%;
      left: 20%;
    }

    &:nth-child(3) {
      top: 26%;
      left: 44%;
    }

    &:nth-child(4) {
      top: 46%;
      left: 36%;
    }

    &:nth-child(5) {
      top: 69%;
      left: 73%;
    }

    &:nth-child(6) {
      top: 42%;
      left: 37%;
    }

    &:nth-child(7) {
      top: 63%;
      left: 79%;
    }

    &:nth-child(8) {
      top: 50%;
      left: 38%;
    }

    &:nth-child(9) {
      top: 66%;
      left: 74%;
    }

    img {
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
  }

  &__card {
    position: absolute;
    z-index: 3;
    bottom: 40px;
    left: 0;
    display: none;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(#000000, 0.6);
  }


  &__close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url('../image/cross.svg') center / 10px 10px no-repeat;
    background-color: #fff;
  }

  &__img {
    height: 125px;
    background: url('../image/photo-shop-modal.jpg') center no-repeat;
  }

  &__descr {
    padding: 15px 30px;
    text-align: center;
    background-color: #fff;
    color: #000;
  }

  &__title {
    margin-bottom: 7px;

    font-size: 20px;
    line-height: 24px;
  }

  &__addres {
    margin-bottom: 7px;
    font-size: 18px;
    color: #469620;
    line-height: 22px;
    font-style: normal;
  }
}

.modal-map.open {
  display: block !important;
}

.map-pins__item.open {
  display: block;
  max-width: 500px;
}

.map-pins__card.open {
  display: block;
}

.map-pins__card.hide {
  display: none;
}


.modal-btn {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  box-shadow: 0 10px 20px rgba(#000000, 0.6);
  cursor: pointer;
}